canvas{
    margin:30px auto;
    height:500px !important;
    width: 1000px !important;
}
.all{
    height:400px !important;
    width: 800px !important;

}
.chart{
    padding-bottom: 50px;
}
.chart-menu{
    display: flex;
    justify-content: center;
    margin: 0px 20px;
    margin-top:30px;
    border-radius: 10px;
    border: 0.5px solid rgba(15, 32, 65, 0.24);
    padding:10px;
    flex-wrap: wrap;
}
.chart-menu button{
    width:20%;
    margin: 7px 3%;
}
.chart-title{
    margin-top:30px;
    text-align: center;
    font-size: 20px;
}

.chart-description{
    text-align: center;
    color: #696969;
    padding: 10px 180px;
}
